<html>
<style type="text/css">
    [v-cloak] {
        display: none;
    }
</style>

<div id="app" v-cloak>
    {{message}}
    <input v-model="let1">{{let1}}</input>
    <button v-on:click="alert1">alert</button>
</div>
<div id="app-2">
    <span v-bind:title="message">看这里</span>
</div>
<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList" v-bind:todo='item' v-bind:key="item.id"></todo-item>
    </ol>
</div>
<div id="app-8"></div>
</html>
<script src=".\vue\vue.js"></script>
<script>

    const vue = new Vue({
        el: "#app",
        data: {
            message: "hello!",
            let1: "Vue"
        },
        methods: {
            alert1: function () {
                alert("yoo");
            },
            //alert2:'alert("yooo");'
        }
    })
    let vue2 = new Vue({
        el: "#app-2",
        data: {
            // message:'页面加载于：'+ new Date().tolocaleString()
            message: '页面加载于：' + new Date()
        }
    })
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })
var app7=new Vue({
    el:"#app-7",
    data:{
        groceryList:[
            {id:0,text:'蔬菜'},
            {id:1,text:'奶酪'},
            {id:2,text:'随便其他人'},
            {id:3,text:'手动阀'},
            {id:4,text:'萝卜'},
        ]
    }
})
</script>